/*@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");*/
.card{
    background-color: white;
    padding: 0.7em;
    width: 40%;
    line-height: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px lightgrey;
    margin: 0 auto;
}
.card h3{
    text-align: center;
    font-weight: 500;
    font-size: 1.7em;
}
.card i.fa{
    position: static;
    float: right;
    cursor: pointer;
}
.card .action{
    cursor: pointer;
    outline: none;
    padding: 1em;
    border-radius: 6px;
    font-size: 13px;
    line-height: 8px;
    font-family: 'Montserrat';
    letter-spacing: .1em;
    font-weight: 600;
    text-transform: uppercase;
}
.card .action.red{
    background: orangered;
    border: 1px solid orangered;
    color: white;
}
.card .action.green{
    background: limegreen;
    border: limegreen;
    color: white;
}

.card .action.red:active{
    background: indianred;
    border: 1px solid indianred;
}
.card .action.green:active{
    background: green;
    border: green;
}
.card .action:last-child{
    float: right;
}