/*@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");*/
.card{
    background-color: white;
    padding: 0.7em;
    width: 40%;
    line-height: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px lightgrey;
    margin: 0 auto;
}
.card h3{
    text-align: center;
    font-weight: 500;
    font-size: 1.7em;
}
.card i.fa{
    position: static;
    float: right;
    cursor: pointer;
}