@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.wrapper{
    text-align: center;
    bottom: -90px;
    position: sticky;
    width: 100%;
    transition: all 0.4s ease-in-out;
    display: none;
}
.wrapper.open{
    bottom: 0px;
    transition: all 0.4s ease-in-out;
    display: block;
}
.popup{
    display: inline-block;
    background-color: #222;
    color: whitesmoke;
    padding: 1em 0.7em;
    border-radius: 10px;
    margin: 0 0 1em;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 2.9s ease-in-out;
}
.popup button.danger:before{
  content: "\f0e2";
  font-weight: 100;
  font-family: 'FontAwesome';
  margin-right: 5px;
}
.popup button.danger{
  margin-left: 1em;
  outline: 0;
  cursor: pointer;
  background: rgb(255 255 255 / 24%);
  border: 0;
  font-family: 'Montserrat';
  padding: .3em .8em;
  color: red;
  font-weight: 600;
  border-radius: 5px;
  font-size: .87rem;
}
